<footer id="footer" class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar dropup" data-toggle="collapse" data-target=".show-footer">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            
			<div class="nav-collapse collapse show-footer">
				<nav>
					<ul class="nav pull-right">
						<li><p> </p></li>
						<%= g_about_link(yield(:title)) %>
						<%= g_contact_link(yield(:title)) %>
						<%= g_faq_link(yield(:title)) %>
						<%= g_careers_link(yield(:title)) %>
						<%= g_privacy_link(yield(:title)) %>
						<%= g_quotes_link(yield(:title)) %>
						<%= g_terms_link(yield(:title)) %>
						<li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
						
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
