<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	
	<!-- iPhone Home Screen Name -->
	<meta name="apple-mobile-web-app-title" content="Botflip">
	
	
	<!-- styles -->
	<link href="style.css" rel="stylesheet" type="text/css"/>
	
	<!-- Botflip Icons -->
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="Icon.png"/>
	<!-- For iPhone Retina: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="Icon-2x.png"/>
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="Icon-72.png"/>
	<!-- For iPad Retina: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="Icon-72-2x.png"/>
	
	
	
	<!-- Opera speed dial icon -->
	<link rel="icon" type="image/png" href="icon-160.png">
	<!-- For everything else -->
	<link href="favicon.png" rel="shortcut icon" type="image/png"/>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	
	
	
	<!-- Phone responsive (Landscape and Portrait) -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/header' %>
	
		<div class="container">
			<%= yield %>
		</div>
		
		
	</div>
		
	<%= render 'layouts/footer' %>
	
</body>
</html>